.ElementsModal--modal {
  all: initial;
  box-sizing: border-box;
  position: fixed;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 100001 !important;
}
.ElementsModal--modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  /* make media query for this :) */
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  overflow: hidden;
  width: 385px;
  border-radius: 0.5rem;
}

@media screen and (max-width: 600px) {
  .ElementsModal--modal-content {
    height: 100vh;
    width: 100%;
    border-radius: 0;
  }
  .ElementsModal--top {
    padding-top: 4em;
  }
  .ElementsModal--close {
    padding-top: 4em;
  }
}

.ElementsModal--top {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.ElementsModal--close {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}

.ElementsModal--show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.ElementsModal--details {
  margin-bottom: 2px;
}

.ElementsModal--price {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 600;
}
.ElementsModal--top-banner {
  background-color: black;
  text-align: center;
  background: rgb(0, 0, 0);
  padding: 1em;
  padding-top: 20px;
  padding-bottom: 2em;
}
.ElementsModal--email {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 500;
}
.ElementsModal--product {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 500;
}
.ElementsModal--company {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 32px;
}

.ElementsModal--footer-text {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  line-height: 16px;
}

.ElementsModal--error-message {
  margin-top: 5px;
  color: rgb(220, 39, 39);
  font-size: 13px;
  line-height: 17px;
}

.ElementsModal--pay-button-wrapper {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 25px;
  width: 350px;
  height: 40px;
}

.ElementsModal--pay-button {
  cursor: pointer;
  border: 0;
  width: 100%;
  text-align: center;
  height: 40px;
  box-shadow: inset 0 0 0 1px rgba(50, 50, 93, 0.1),
    0 2px 5px 0 rgba(50, 50, 93, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.07);
  border-radius: 6px 6px 6px 6px;
  font-size: 16px;
  font-weight: 600;

  background-color: rgb(0, 116, 212);
  color: rgb(255, 255, 255);
}

.ElementsModal--pay-button:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07),
    0 0 0 4px rgba(50, 151, 211, 0.3);
}

.ElementsModal--dropdowns {
  margin: 10px;
  -webkit-appearance: none;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 0px 1px rgb(224, 224, 224),
    0px 2px 4px 0px rgba(0, 0, 0, 0.07), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.05);
  border-radius: 4px 4px 4px 4px;
}

/* Form */

.ElementsModal--payment-form {
  margin-bottom: 0;
}

.ElementsModal--label {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 500;
}

.ElementsModal--forms {
  padding: 5%;
}

.ElementsModal--form {
  margin-bottom: 14px;
}

.ElementsModal--form-label {
  font-size: 13px;
  margin-bottom: 4px;
  display: block;
  color: rgba(0, 0, 0, 0.6);
}

.ElementsModal--form-select select {
  padding: 10px 12px;
  width: 100%;
  border: 1px solid transparent;
  outline: none;
  box-shadow: 0px 0px 0px 1px rgb(224, 224, 224),
    0px 2px 4px 0px rgba(0, 0, 0, 0.07), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  border-radius: 5px 5px 5px 5px;

  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.193 3.97a.75.75 0 0 1 1.062 1.062L6.53 9.756a.75.75 0 0 1-1.06 0L.745 5.032A.75.75 0 0 1 1.807 3.97L6 8.163l4.193-4.193z' fill='%23000' fill-rule='evenodd' fill-opacity='.4'/%3E%3C/svg%3E");
  background-size: 12px;
  background-position: calc(100% - 16px) center;
  background-repeat: no-repeat;
  color: rgb(40, 40, 40);
  font-size: 16px;
  font-weight: normal;
}

.ElementsModal--form-select select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 rgb(0, 0, 0);
}

.ElementsModal--form-select select:focus {
  box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07),
    0 0 0 4px rgba(50, 151, 211, 0.3);
}

.ElementsModal--form-select select::-ms-expand {
  display: none; /* hide the default arrow in ie10 and ie11 */
}

.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 5px 5px 5px 5px;
  background-color: white;

  box-shadow: 0px 0px 0px 1px rgb(224, 224, 224),
    0px 2px 4px 0px rgba(0, 0, 0, 0.07), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 rgb(207, 215, 223);
}

.StripeElement--invalid {
  border-color: rgb(239, 152, 150);
}

.StripeElement--webkit-autofill {
  background-color: rgb(254, 253, 229) !important;
}
